body {
  font-family: 'Tajawal', sans-serif;
  background-color: #f9f9f9;
}

.card {
  border-radius: 12px;
  transition: 0.3s;
  background-color: #fff;
}

.card:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
}

h1 {
  color: #2c5030;
}

footer {
  font-size: 14px;
  color: #777;
  margin-top: 60px;
}
