{% extends 'tasks/base.html' %}
{% load static %}

{% block title %}تعديل المهمة{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/edit_task.css' %}">
{% endblock %}

{% block content %}
<section class="task-form-container">
    <h2>✏️ تعديل المهمة</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">تحديث</button>
    </form>
    <a href="{% url 'tasks:task_list' %}" class="back-link">← العودة</a>
</section>
{% endblock %}
